# Modules.
/node_modules/

# Compiled files.
/out/

# Configuration.
config.test2.json
config.test1.json
config.production.json

# Notes
/notes/*

# Profiling
*.cpuprofile
*.tsbuildinfo

# Others
.idea/*
.vscode/*